
body {
  font-family: 'Orbitron', sans-serif !important;
  }
h4{
  font-family: 'Orbitron', sans-serif !important;
  font-weight: bold !important;
}
h6{
  font-family: 'Orbitron', sans-serif !important;
  font-weight: bold !important;
}
h2{
  font-family: 'Orbitron', sans-serif !important;
  font-weight: bold !important;
  text-transform: uppercase;
  text-align: center;
 
}
.css-17uzhmm-MuiTypography-root{
  font-family: 'Orbitron', sans-serif !important;
}
.css-fyswvn{
  font-family: 'Orbitron', sans-serif !important;
}
.css-10sdabs-MuiListSubheader-root{
  font-family: 'Orbitron', sans-serif !important;
}
.css-1gqmilo-MuiDataGrid-columnHeaderTitle{
  font-family: 'Orbitron', sans-serif !important;
  text-align: center !important;
}
.css-1ueplbr{
  font-family: 'Orbitron', sans-serif !important;
}
.css-1rxsvxt{
  font-family: 'Orbitron', sans-serif !important;
}
.css-f9ykhc-MuiListSubheader-root{
  font-family: 'Orbitron', sans-serif !important;
}
.css-rp77bu-MuiTableCell-root{
  font-family: 'Orbitron', sans-serif !important;
}
h3{
  font-family: 'Orbitron', sans-serif !important;
}
h5{
  font-family: 'Orbitron', sans-serif !important;
  font-weight: bold !important;
}
li{
  font-family: 'Orbitron', sans-serif !important;
  /* font-weight: bold !important; */
}
.css-rizt0-MuiTypography-root{
  font-family: 'Orbitron', sans-serif !important;

}
button{
  font-family: 'Orbitron', sans-serif !important;
  font-weight: bold !important;
  
}
.loading-page-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1000;
  }
  
  .loading-page {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
  .spinner {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: white;
    border: 8px solid #EF5F63;
    border-right-color: transparent;
    border-radius: 50%;
    animation: rotate-spinner  .5s  infinite linear;
  }
 
  
  @keyframes rotate-spinner {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  